NODE_ENV=development

DB_USERNAME_NEW="dev"
DB_PASSWORD_NEW="S8BWDHW4Hdjj7Cf9"
DB_NAME_NEW="wg-gp"
DB_HOST_NEW="wg-dev-pub-db.c9rf2xyfkfi6.ap-southeast-1.rds.amazonaws.com"
DB_NAME_NEW_2="wg-data"


DB_USERNAME="thankub"
DB_PASSWORD="C$7xD$*45}Xq8=!-"
DB_NAME="binance_p2p"
DB_HOST="119.59.127.39"

JWT_SECRET_KEY=qwertyuiopasdfghjkl
SECRET_KEY=Wgroup@2023
